<table id = "list_customers", class="table table-hover">

  <tr><th colspan=2> Customer Details</th> </tr>
  <tr>
    <td>Customer Name</td>
    <td><%= @customer.name %></td>
  </tr>

  <tr>
    <td>Email</td>
    <td><%= @customer.email %></td>
  </tr>

  <tr>
    <td>Contact No.</td>
    <td><%= @customer.contact_no %></td>
  </tr>

  <tr>
    <td>Address</td>
    <td><%= @customer.address %></td>
  </tr>

  <tr>
    <td>Room No.</td>
    <td><%= @customer.room.room_no %></td>
  </tr>
</table>
<p>
<%= link_to '<button type="button" class="btn btn-default">Update</button>'.html_safe, edit_customer_path(@customer) %>
<%= link_to '<button type="button" class="btn btn-default">Back</button>'.html_safe, customers_path %>
</p>
